@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    /* == Colors == */
    --Cyan : hsl(177, 68%, 64%);
    --Orange: hsl(12, 94%, 65%);
    --Yellow: hsl(33, 100%, 70%);
    --White: hsl(20, 33%, 98%);
    --Slate: hsl(244, 23%, 12%);
    /* == Font == */
    --main-font: 'IBM Plex Sans';
}
body{
    min-height: 100vh;
    max-height: 100%;
    font-family: var(--main-font), 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--Slate);
    background-color: var(--White);
    background-image: url('./assets/bg-main-mobile-fixed.png');
    background-repeat: no-repeat;
    background-position: -25% -288px;
    overflow-x: hidden;
}
.header{
    padding: 64px 20px;
    /* background-image: url('./assets/bg-main-mobile-fixed.png');
    background-repeat: no-repeat;
    background-position: -25% 80%; */
}
.nav, .logo{
    margin-bottom: 64px;
    width: fit-content;
    height: 32px;
}
.hero__title{
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -1px;
}
.hero__text{
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}
.main__container{
    position: relative;
}
.main__container::after{
    content: ' ';
    position: absolute;
    top: 110px;
    width: 100%;
    height: 380px;
    background-color: var(--Slate);
    background-image: url('./assets/bg-pattern-2.svg');
    background-repeat: no-repeat;
    background-position: top center;
}
.illustration{
    position: relative;
    padding: 0 20px 60px 20px;
    display: flex;
    justify-content: center;
}
.illustration__item{
    z-index: 2;
    width: auto;
    height: 430px;
}
.price__container{
    padding: 48px 20px 111px 20px;
    background-color: var(--Orange);
}
.price__title{
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 110%;
    font-weight: 700;
}
.price__text{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 150%;
}
.price__price{
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 20px;
    line-height: 150%;
}
.price__accent{
    margin-right: 16px;
    font-size: 64px;
    line-height: 110%;
    font-weight: 700;
}
.price__button{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 100%;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    border: none;
    border-radius: 12px;
}
.btn:first-of-type{
    margin-bottom: 16px;
}
.btn svg{
    margin-right: 8px;
}

.btn-ios{
    color: var(--White);
    background-color: var(--Slate);
}
.btn-android{
    color: var(--Slate);
    background-color: var(--White);
}
.footer{
    position: relative;
    padding: 64px 20px 80px 20px;
}
.footer__equalizer{
    display: flex;
    flex-direction: column;
}
.footer__equalizer .logo{
    margin-bottom: 0;
}
.footer__equalizer-content{
    margin: 32px 0;
    font-size: 16px;
    line-height: 150%;
}
.footer__email{
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    color: var(--Slate);
    text-decoration: none;
}
.footer__equalizer-links{
    display: flex;
    width: fit-content;
}
.footer__equalizer-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: var(--Slate);
}
.footer__equalizer-links a:nth-child(2){
    margin: 0 32px;
}
.footer__signature{
    position: absolute;
    bottom: 0;
}
.footer__signature a{
    font-weight: 600;
    color: var(--Slate);
    text-decoration: none;
}
@media (min-width: 768px){
    body{
        background-image: 
            url('./assets/bg-main-tablet_fixed.png');
        background-position: 86% -50%;
    }
    .header{
        padding: 64px 40px;
        background-image: url('./assets/bg-pattern-1.svg');
        background-repeat: no-repeat;
        background-position: top -40px right -52px;
    }
    .nav{
        margin-bottom: 128px;
    }
    .hero__title{
        width: 416px;
        font-size: 64px;
        line-height: 64px;
    }
    .hero__text{
        width: 504px;
        font-size: 18px;
        line-height: 150%;
    }
    main{
        background-image: url('./assets/bg-main-tablet_2.png');
        background-repeat: no-repeat;
        background-position: bottom -20% right -200%;
    }
    .main__container{
        position: relative;
        padding: 86px 40px;
        display: flex;
        flex-direction: row;
    }
    .main__container::after{
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 80px);
        height: 600px;
        background-position: top left;
        border-radius: 12px;
    }
    .illustration{
        position: initial;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: start;
        width: 356px;
        height: 828px;
    }
    .illustration__item{
        z-index: 2;
        width: auto;
        height: 556px;
    }
    .price{
        z-index: 3;
        position: relative;
        padding: 0;
        right: 104px;
        display: flex;
        justify-content: center;
        align-items: end;
        width: 356px;
        height: 828px;
    }
    .price__container{
        padding: 48px 46px;
        background-color: var(--Orange);
        border-radius: 18px;
    }
    .price__text{
        font-size: 18px;
        line-height: 150%;
    }
    .footer{
        position: relative;
        padding: 64px 40px 80px 40px;
    }
    .footer__equalizer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
    }
    .footer__equalizer-content{
        margin: 0;
        font-size: 16px;
        line-height: 150%;
    }
    .footer__signature{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    
}