@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    /* == Colors == */
    --Cyan : hsl(177, 68%, 64%);
    --Orange: hsl(12, 94%, 65%);
    --Yellow: hsl(33, 100%, 70%);
    --White: hsl(20, 33%, 98%);
    --Slate: hsl(244, 23%, 12%);
    /* == Font == */
    --main-font: 'IBM Plex Sans';
}
